{% extends 'core.html' %}

{% block header %}
    <title>TV Shows</title>
{% endblock %}

{% block body %}
    
<main>
    <div class="flex-container">
        <div id="unmoveable-section" class="flex-item">
            <div id = "unmoveable-section-avatar">
            </div>

            <div id = "unmoveable-section-navbar">

            </div>
        </div>
        <div id="scrollable-section" class="flex-item">
            <!-- infomation for each section in navigation bar here -->
        </div>
    </div>
</main>
    
{% endblock %}